/* Fonts */

html {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

/* Base */

html, body {
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
  background: linear-gradient(135deg, #FFF59D 50%, #f5f5f5 50%);
  background-attachment: fixed;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa {
  margin: 5px 1rem 5px 1rem;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-sidenav {
  display: flex;
  justify-content: space-around;
}

/* Navigation */

nav {
  background: transparent;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
  nav {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  nav .brand-logo.center-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }
}

/* Banner */

@media only screen and (max-width: 601px) {
  .title {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
  }
  .subtitle {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
  }
}

/* Lyrics */

pre {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  margin: 0;
}

/* This is why side nav dropdown is broken!*/

.menu {
  position: fixed;
}

.menu-body {
  background-color: #fff;
}

.menu-header h1 {
  font-size: 1.125rem;
  margin: 0;
}

/* Videos */

.video-section {
  margin: 1rem 0 5% 0;
}

.video-section:last-child {
  margin: 1rem 0 1rem 0;
}

/* Press */

.bio p {
  font-size: 1.125rem;
}

.photo-section {
  margin-bottom: 1rem;
}

.quote {
  font-style: italic;
  font-size: 1.25rem;
}

.quoter {
  font-size: 1.125rem;
  font-style: italic;
}

blockquote {
  border-left-color: #455a64;
}

.media-player {
  margin: .5rem 0 1rem 0;
}

/* Store */

.btn-store {
  margin-top: 2px;
  margin-bottom: 2px;
}